* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
}

.dashboardbody {
    background: #ccc;
}

.topbar {
    background: crimson;
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.user {
    margin-right: 30px;
    color: #ffffff;
    font-size: 20px;
}

.layout {
    display: flex;
    margin-top: 60px; /* Adjust this value to account for the height of the topbar */
}

.logoname {
    display: flex;
}

.logoname h1 {
    margin: 5px;
    color: #ffffff;
}

.layout {
    display: flex;
}

.sidenavbar {
    position: fixed;
    top: 60px;
    bottom: 0;
    height: calc(100% - 60px);
    left: 0;
    width: 90px;
    background: #b1a7a6;
    overflow: hidden;
    transition: width 0.5s ease;
    box-shadow: -1px 2px 24px 0px rgba(0, 0, 0, 0.52);
    -webkit-box-shadow: -1px 2px 24px 0px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: -1px 2px 24px 0px rgba(0, 0, 0, 0.52);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.logo img {
    width: 45px;
    height: 45px;
    margin-top: 20px;
    transition: transform 0.5s ease;
}

.sidenavbar:hover .logo img {
    transform: scale(2);
    margin-top: 20px;
}

.sidenavbar ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

.sidenavbar .li {
    width: 100%;
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.sidenavbar a {
    position: relative;
    color: #ffffff;
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    text-decoration: none;
}

.sidenavbar .fa-solid {
    width: 70px;
    height: 40px;
    font-size: 20px;
    text-align: center;
}

.sidenavbar .li:hover {
    background: #eee;
    color: #333;
}

.nav-item {
    display: none;
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.sidenavbar:hover {
    width: 280px;
}

.sidenavbar:hover .nav-item {
    display: inline;
    opacity: 1;
}

.sidebar-dropdown{
    margin-left: 30px;
}

.sidebar-link:hover{
    background: #eee;
    color: #333;
}

.sidenavbar .logout {
    position: absolute;
    bottom: 0;
}

.main-content {
    margin-top: 20px;
    margin-left: 80px;
    padding: 20px;
    width: calc(100% - 80px);
    transition: margin-left 0.5s ease, width 0.5s ease;
}

.sidenavbar:hover~.main-content {
    margin-left: 280px;
    width: calc(100% - 280px);
}

.table-content {
    margin: 70px;
    padding: 20px;
    width: calc(100% - 80px);
    background: #faf9f6;
    transition: margin-left 0.5s ease, width 0.5s ease;
    top: 0;
        left: 0;
        z-index: 1000;
}

.sidenavbar:hover~.table-content {
    margin-left: 250px;
    width: calc(100% - 250px);
}

.add-btn {
    width: 200px;
    border: none;
}

.add-btn a{
    text-decoration: none;
    color: #ffffff;
}

.add-btn:hover{
    background: #8d99ae;
}

.card {
    padding: 20px;
}

.card h5, p{
    color: #ffffff;
}

.card-table {
    margin-left: auto;
    margin-right: 0;
    width: 20%;
    margin-top: 80px;
}