* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
}

.topbar {
    background: crimson;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.user-role {
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-right: 50px;
    color: #ffffff;
}

.user-role i {
    margin-right: 10px;
    font-size: 24px;
}

.layout {
    display: flex;
    margin-top: 60px; /* Adjust this value to account for the height of the topbar */
}

.logoname {
    display: flex;
}

.logoname h3 {
    margin: 5px;
    color: #ffffff;
    font-size: 20px;
}

.layout {
    display: flex;
    margin-top: 60px;
}

.menu-toggle {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    padding: 20px;
}

.sidenavbar {
    position: fixed;
    top: 60px;
    bottom: 0;
    height: calc(100% - 60px);
    left: 0;
    width: 90px;
    background: #b1a7a6;
    overflow: hidden;
    transition: width 0.5s ease;
    box-shadow: -1px 2px 24px 0px rgba(0, 0, 0, 0.52);
    z-index: 999;
}

.sidenavbar.active {
    width: 280px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.logo img {
    width: 45px;
    height: 45px;
}

.sidenavbar ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

.sidenavbar .li {
    width: 100%;
    display: flex;
    align-items: center;
}

.sidenavbar a {
    position: relative;
    color: #ffffff;
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    text-decoration: none;
}

.sidenavbar .fa-solid {
    width: 70px;
    height: 40px;
    font-size: 20px;
    text-align: center;
}

.nav-item {
    display: none;
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.sidenavbar.active .nav-item {
    display: inline;
    opacity: 1;
}

.sidenavbar .li:hover{
    background: #ffffff;
    color: #212121;
}

.sidenavbar .logout {
    position: absolute;
    bottom: 0;
}

.section-name {
    margin-top: 60px;
    font-size: 24px;
    font-weight: bold;
    color: #212121;
    display: flex;
    align-items: center;
}

.section-name h3 {
    margin: 0;
}

.section-name i {
    margin-right: 10px;
    font-size: 28px;
    color: #8d99ae;
}

.main-content {
    margin-left: 50px;
    width: calc(100% - 90px);
    transition: margin-left 0.5s ease, width 0.5s ease;
    z-index: 1;
}

.sidenavbar.active~.main-content {
    margin-left: 250px;
    width: calc(100% - 250px);
}

.main-content.shifted {
    margin-left: 280px;
    width: calc(100% - 280px);
}

.table-content {
    margin: 30px;
    padding: 20px;
    width: calc(100% - 80px);
    background: #faf9f6;
    transition: margin-left 0.5s ease, width 0.5s ease;
}

.add-btn {
    width: 200px;
    border: none;
}

.add-btn a {
    text-decoration: none;
    color: #ffffff;
}

.add-btn:hover {
    background: #8d99ae;
}

.card {
    padding: 20px;
}

.card h5,
.card p {
    color: #ffffff;
}

.card-table {
    margin-left: auto;
    margin-right: 0;
    width: 20%;
    margin-top: 80px;
}

.settings-container{
    width: 1000px;
    height: 300px;
    background: #faf9f6;
    text-decoration: none;
    padding: 20px;
}

.settings-container ul {
    list-style-type: none;
    padding: 0;
}

.settings-container li {
    margin-bottom: 15px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    transition: background-color 0.3s, box-shadow 0.3s;
    border-radius: 10px;
}

.settings-container li a {
    display: block;
    text-decoration: none;
    color: #212121;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}

.settings-container li:hover {
    background-color: #8d99ae;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.settings-container li:hover a {
    color: white;
}

.section-name h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #212121;
    display: flex;
    align-items: center;
}

.section-name h3 i {
    margin-right: 10px;
}


