<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
        rel="stylesheet">
    <script src="/public/js/sidenav.js"></script>
</head>

<body class="dashboardbody">
        <div class="topbar">
            <div class="logoname d-flex align-items-center">
                <a href="#" class="logo">
                    <img src="/public/images/brgylogo.png" alt="">
                </a>
                <h3 class="ms-2">Brgy. Bilog Information System</h3>
            </div>
            <div class="user-role">
                <i class="fa-solid fa-user"></i> Admin
            </div>
        </div>

    <div class="layout">
        <div class="sidenavbar" id="sidebar">
            <ul class="menu-links sidebar-nav p-0">
                <div class="menu-toggle" id="menu-toggle">
                    <i class="fas fa-bars"></i>
                </div>
                <li class="sidebar-item"><a href="/dashboard" class="li"><i class="fa-solid fa-house"></i><span class="nav-item">Dashboard</span></a></li>
                <li class="sidebar-item"><a href="/residentData/residentinfo" class="li"><i class="fa-solid fa-person"></i><span class="nav-item">Resident Information</span></a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="li sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#cert"
                        aria-expanded="false" aria-controls="cert">
                        <i class="fa-solid fa-certificate"></i>
                        <span class="nav-item">Certificates</span>
                    </a>
                    <ul id="cert" class="sidebar-dropdown list-unstyled collapse">
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Brgy. Certification</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Brgy. Clearance</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Brgy. Clearance for Securing Fencing Permit</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Brgy. Indigency</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Brgy. Residency Certification</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Brgy. Working Clearance</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Building Permit</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Certificate of Responsibility and Accountability</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">First-time Jobseeker</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item"><a href="/blotterRoute/blotterRecords" class="li"><i class="fa-solid fa-flag"></i><span class="nav-item">Blotter Records</span></a></li>
                <li class="sidebar-item"><a href="/settings" class="li"><i class="fa-solid fa-gear"></i><span class="nav-item">Settings</span></a></li>
                <li class="sidebar-item"><a href="/users/logout" class="logout li"><i class="fa-solid fa-right-from-bracket"></i><span
                            class="nav-item">Log out</span></a></li>
            </ul>
        </div>
        <div class="main-content">
            <div class="container">
                <div class="section-name">
                    <h3>Dashboard</h3>
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card mb-3" style="background-color: #4fc8dc; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);">
                            <div class="card-body text-center">
                                <h5 class="card-title mt-2">
                                    <i class="fas fa-users" style="font-size: 2rem;"></i> Population
                                </h5>
                                <p class="card-text" style="font-size: 1.5rem;">500</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-3"
                            style="background-color: #f8abeb; border-radius: 15px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);">
                            <div class="card-body text-center">
                                <h5 class="card-title mt-2">
                                    <i class="fas fa-person-dress" style="font-size: 2rem;"></i> Female
                                </h5>
                                <p class="card-text" style="font-size: 1.5rem;">500</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-3"
                            style="background-color: #0c6980; border-radius: 15px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);">
                            <div class="card-body text-center">
                                <h5 class="card-title mt-2">
                                    <i class="fas fa-person" style="font-size: 2rem;"></i> Male
                                </h5>
                                <p class="card-text" style="font-size: 1.5rem;">500</p>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card mb-3"
                            style="background-color: #6e9277; border-radius: 15px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);">
                            <div class="card-body text-center">
                                <h5 class="card-title mt-2">
                                    <i class="fas fa-location-dot" style="font-size: 2rem;"></i> Purok
                                </h5>
                                <p class="card-text" style="font-size: 1.5rem;">500</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-3"
                            style="background-color: #00a8a8; border-radius: 15px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);">
                            <div class="card-body text-center">
                                <h5 class="card-title mt-2">
                                    <i class="fas fa-clipboard" style="font-size: 2rem;"></i> Blotter
                                </h5>
                                <p class="card-text" style="font-size: 1.5rem;">500</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-3" style="background-color: #faa94a; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);">
                            <div class="card-body text-center">
                                <h5 class="card-title mt-2">
                                    <i class="fas fa-clipboard" style="font-size: 2rem;"></i> Precinct
                                </h5>
                                <p class="card-text" style="font-size: 1.5rem;">500</p>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card mb-3" style="background-color: #b1d4e0; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);">
                            <div class="card-body text-center">
                                <h5 class="card-title mt-2">
                                    <i class="fas fa-check-to-slot" style="font-size: 2rem;"></i> Voters
                                </h5>
                                <p class="card-text" style="font-size: 1.5rem;">500</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-3" style="background-color: #ffd230; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);">
                            <div class="card-body text-center">
                                <h5 class="card-title mt-2">
                                    <i class="fas fa-square-xmark" style="font-size: 2rem;"></i> Non-Voters
                                </h5>
                                <p class="card-text" style="font-size: 1.5rem;">500</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>

</body>

</html>