<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
        rel="stylesheet">

    <script defer src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script defer src="https://cdn.datatables.net/2.1.3/js/dataTables.js"></script>
    <script defer src="https://cdn.datatables.net/2.1.3/js/dataTables.bootstrap5.js"></script>
    <script defer src="/public/js/script.js"></script>
</head>

<body>
    <header class="container">
        <div class="topbar d-flex justify-content-between align-items-center">
            <div class="logoname d-flex align-items-center">
                <h1><i class="fa-solid fa-house"></i></h1>
                <h1>Bilog Information System</h1>
            </div>
            <div class="user d-flex align-items-center">
                <i class="fa-solid fa-user"></i>
                <span class="ms-2">Staff</span>
            </div>
        </div>
    </header>
    <div class="layout">
        <div class="sidenavbar">
            <ul class="menu-links">
                <li>
                    <a href="" class="logo">
                        <img src="/public/images/brgylogo.png" alt="">
                    </a>
                </li>
                <li><a href="/dashboard" class="li"><i class="fa-solid fa-house"></i><span class="nav-item">Dashboard</span></a>
                </li>
                <li><a href="/residentData/residentinfo" class="li"><i class="fa-solid fa-person"></i><span class="nav-item">Resident
                            Information</span></a>
                </li>
                <li>
                    <a href="#" class="li sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#cert"
                        aria-expanded="false" aria-controls="cert">
                        <i class="fa-solid fa-certificate"></i>
                        <span class="nav-item">Certificates</span>
                    </a>
                    <ul id="cert" class="sidebar-dropdown list-unstyled collapse">
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Brgy. Clearance</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Brgy. Residency Certification</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Brgy. Indigency</a>
                        </li>
                    </ul>
                </li>
                <li><a href="" class="li"><i class="fa-solid fa-flag"></i><span class="nav-item">Blotter Records</span></a></li>
                <li><a href="/settings" class="li"><i class="fa-solid fa-gear"></i><span class="nav-item">Settings</span></a>
                </li>
                <li><a href="/users/logout" class="logout li"><i class="fa-solid fa-right-from-bracket"></i><span
                            class="nav-item">Log out</span></a></li>
            </ul>
        </div>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <div class="table table-striped">
                        <div class="table-content">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button class="btn me-md-2 add-btn" type="button" style="background: #2b2d42;">
                                    <a href="" data-bs-toggle="modal" data-bs-target="#addRes">Add Resident</a>
                                </button>
                            </div>

                            <table id="example" class="table table-striped text-center" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Age</th>
                                        <th>Years of Residency</th>
                                        <th>Civil Status</th>
                                        <th>Sex</th>
                                        <th>Educational Attainment</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    
                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  

    <div class="col-lg-3 card-table">
        <div class="row mb-3">
            <div class="col">
                <div class="card text-bg-primary mb-3">
                    <div class="card-header">Population</div>
                    <div class="card-body">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Some</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <div class="card text-bg-danger mb-3">
                    <div class="card-header">Male</div>
                    <div class="card-body">
                        <h5 class="card-title">Danger card title</h5>
                        <p class="card-text">Some</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <div class="card text-bg-success mb-3">
                    <div class="card-header">Female</div>
                    <div class="card-body">
                        <h5 class="card-title">Success card title</h5>
                        <p class="card-text">Some</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addRes">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Resident Information</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                </div>

                <div class="modal-body">
                    <form action="/residentData/residentinfo" method="post" id="addForm">
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="firstName" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="lastName" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter last name">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="age" class="form-label">Age</label>
                                <input type="number" class="form-control" id="age" name="age" placeholder="Enter age">
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="dob" class="form-label">Date of Birth</label>
                                <input type="date" class="form-control" id="dob" name="dob">
                            </div>
                            
                            <div class="col-md-4 mb-3">
                                <label for="placeOfBirth" class="form-label">Place of Birth</label>
                                <input type="text" class="form-control" id="placeOfBirth" name="placeOfBirth" placeholder="Enter place of birth">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="yearsOfResidency" class="form-label">Years of Residency</label>
                                <input type="number" class="form-control" id="yearsInBrgy" name="yearsOfResidency"
                                    placeholder="Enter years of residency.">
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="civilStatus" class="form-label">Civil Status</label>
                                <input type="text" class="form-control" id="civilStatus" name="civilStatus" placeholder="Enter civil status">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="position" class="form-label">Position</label>
                                <input type="text" class="form-control" id="position" name="position" placeholder="Enter position">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="sex" class="form-label">Sex</label>
                                <select class="form-select" id="sex" name="sex">
                                    <option selected>Choose...</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="natureOfwork" class="form-label">Nature of work</label>
                                <input type="text" class="form-control" id="occupation" name="natureOfwork" placeholder="Enter occupation">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="education" class="form-label">Educational Attainment</label>
                                <input type="text" class="form-control" id="education" name="education" placeholder="Enter educational attainment">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="companyName" class="form-label">Name of Company</label>
                                <input type="text" class="form-control" id="companyName" name="companyName"
                                    placeholder="Enter the name of company.">
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="voterStatus" class="form-label">Voter Status</label>
                                <input type="text" class="form-control" id="voterStatus" name="voterStatus" placeholder="Enter voter status">
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end">
                                <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-danger">Add New Resident</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>

</html>