<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <div class="topbar">
        <div class="logoname">
            <h1><i class="fa-solid fa-house"></i></h1>
            <h1>Brgy. Bilog Information System</h1>
        </div>
    </div>
    <div class="layout">
        <div class="sidenavbar">
            <ul class="menu-links">
                <li>
                    <a href="" class="logo">
                        <img src="/public/images/brgylogo.png" alt="">
                    </a>
                </li>
                <li><a href="/dashboard" class="li"><i class="fa-solid fa-house"></i><span class="nav-item">Dashboard</span></a>
                </li>
                <li><a href="/residentinfo" class="li"><i class="fa-solid fa-person"></i><span class="nav-item">Resident
                            Information</span></a>
                </li>
                <li>
                    <a href="#" class="li sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#cert"
                        aria-expanded="false" aria-controls="cert">
                        <i class="fa-solid fa-certificate"></i>
                        <span class="nav-item">Certificates</span>
                    </a>
                    <ul id="cert" class="sidebar-dropdown list-unstyled collapse">
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Brgy. Clearance</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Brgy. Residency Certification</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Brgy. Indigency</a>
                        </li>
                    </ul>
                </li>
                <li><a href="" class="li"><i class="fa-solid fa-flag"></i><span class="nav-item">Blotter Records</span></a></li>
                <li><a href="/settings" class="li"><i class="fa-solid fa-gear"></i><span class="nav-item">Settings</span></a>
                </li>
                <li><a href="/users/logout" class="logout li"><i class="fa-solid fa-right-from-bracket"></i><span
                            class="nav-item">Log out</span></a></li>
            </ul>
        </div>
    </div>

    <div class="main-content">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Population</div>
                        <div class="card-body">
                            <h5 class="card-title">Primary card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of the
                                card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Change Password</h3>
            <h3>Account Creation</h3>
            <h3>Deactivate User Account</h3>
        </div>
    </div>
</body>
</html>