<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center" >
            <img class="mx-auto d-block" style="width: 300px; height:300px; " src="/public/images/brgylogo.png" alt="">
            <p style="font-size: 1.5em;">Brgy. Bilog Information System</p>
            <a href="/users/login" class="btn btn-secondary btn-block"
            style="height: 60px; font-size:1.2em; padding:10px;">
                Login
            </a>
        </div>
    </div>
</div>